.heading {
    color: #022345 !important;
    font-size: 80px !important;
    font-family: 'Heading' !important;
    letter-spacing: normal;
    text-align: center;
}

.heading-icon {
    height: 75px;
    width: 75px;
    background-image: url(../../images/Introduction/circle.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; 
}